#cards
	display: grid
	grid-template-columns: repeat(3, 300px)
	grid-auto-rows: 200px
	justify-content: space-between
	grid-column-gap: 30px
	grid-row-gap: 30px
	margin: 90px 60px
.card
	display: flex
	justify-content: center
	align-items: center
	position: relative
	border-radius: 20px
	cursor: pointer
	p
		font-size: 30px
.close
	position: absolute
	width:  40px
	height:  40px
	display: flex
	justify-content: center
	align-items: center
	font-size: 30px
	top: -13px
	right: -13px
	cursor: pointer
